.summary {
	border-radius: 33px;
	background-color: #ffffff;
	width: 440px;
	height: 597px;
	border: 1px solid #C4C4C4;
	box-shadow: 0px 4px 20px #DEDEDE;
	position: absolute;
	left: 955px;
	top: 221px;
}

.header {
	text-align: center;
	left: 82px;
	top: 48px;
}
.reserve_btn {
	width: 360px;
	height: 65px;
}