.Home {
	background-color: #F1FAF9;
	font-weight: 100;
	position: relative;
	display: flex;
	flex-direction: column;
}
.card {
	display: flex;
}

.title {
	color:#65C6AF;
	text-align: center;
}

.title2 {
	color: #FFC38B;
}

.searchBar {
	box-sizing: border-box;

	position: absolute;
	width: 1105px;
	height: 102px;

	background: #FFFFFF;
	border: 3px solid #65C6AF;
	border-radius: 48px;
}
