.RoomGrid {
    justify-content: flex-start;
    align-items: center;

    position: relative;
    display: block;
}

.content {
    display: flex;
    position: relative;
    width: max-content;
}

.filter {
    float: left;
}

.grid {
    float: right;
}