.RoomGrid {
    justify-content: flex-start;
    align-items: center;

    position: relative;
    display: flex;
}

.grid-content {
    display: flex;
    position: relative;
}

.filter-panel {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 24px;

    position: relative;
    width: 331px;
    height: 594px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
    width: 70%;
}