.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account {
  position: absolute;
  width: 570px;
  height: 261px;
  left: 778px;
  top: 203px;
}