.heading {
	color: #AAAAAA;
}

.account-heading {

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.account-content {
	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;

	width: 321px;
	height: 74px;


	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}