.SearchBar {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    background: #FFFFFF;
	border: 3px solid #65C6AF;
	border-radius: 48px;

    max-height: 63px;
    
    padding-left: 25px;
    padding-right: 25px;
}
