.Reservation {
	box-sizing: border-box;

	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px 40px;
	gap: 4px;

	width: 768.27px;
	height: 484px;

	background: #FFFFFF;
	/* Morrison Green */

	border: 3px solid #65C6AF;
	/* dropdown */

	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 48px;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.selectionPanel {
	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 24px;

	width: 688.27px;
	height: 373px;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.selectionPanel-title {
	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.selectionPanel-content {
	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 48px;

	width: 693.27px;
	height: 316px;


	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.selectionPanel-calendar {
	width: 260.27px;
	height: 233px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.selectionPanel-timePanel {
	/* Auto layout */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;

	width: 385px;
	height: 47px;


	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.selectionPanel-from {
	position: relative;
	float: left;
}

.selectionPanel-to {
	position: relative;
	float: right;
}

.selectionPanel-titles {
	position: relative;
	text-align: left;

	line-height: 30px;

	font-weight: 400;
	font-size: 20px;
	color: #C4C4C4;
}

.selectionPanel-times-from {
	box-sizing: border-box;

	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px 48px 10px 16px;

	width: 156px;
	height: 47px;

	border: 2px solid #C4C4C4;
	border-radius: 16px;
	background-color: white;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.to {
	margin: 10px;
}

.selectionPanel-times-to {
	box-sizing: border-box;

	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px 48px 10px 16px;

	width: 156px;
	height: 47px;

	border: 2px solid #C4C4C4;
	border-radius: 16px;
	background-color: white;

	/* Inside auto layout */

	flex: none;
	order: 2;
	flex-grow: 0;
}

.dropdown {
	width: 192px;
	height: 200px;

}

.selectionPanel-submit {
	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 8px 48px;

	/* Morrison Yellow */

	background: #FFC38B;
	border-radius: 48px;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;

	cursor: pointer;
	color: white;
}

.selectionPanel-text {
	margin: 0;
}

/* Calendar */

.react-calendar {
	width: 260px;
	height: 233px;
	background: white;
	line-height: 1.125em;
	color: #C4C4C4;
}

.react-calendar--doubleView {
	width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
	display: flex;
	margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
	width: 50%;
	margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.react-calendar button {
	margin: 0;
	border: 0;
	outline: none;
}

.react-calendar button:enabled:hover {
	cursor: pointer;
}

.react-calendar__navigation {
	display: flex;
	height: 44px;
	margin-bottom: 1em;
}

.react-calendar__navigation button {
	min-width: 44px;
	background: none;
}

.react-calendar__navigation button:disabled {
	background-color: #f0f0f0;
}

/* 
.react-calendar__navigation button:enabled:hover, */
.react-calendar__month-view__weekdays {
	text-align: center;
	font-weight: regular;
	font-size: 18px;
	color: #6D6D6D;
}

.react-calendar__month-view__weekdays__weekday {
	padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75em;
	font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
	color: #757575;
}

.react-calendar__tile {
	max-width: 100%;
	padding: 10px 6.6667px;
	background: none;
	text-align: center;
	line-height: 16px;
}

.react-calendar__tile:disabled {
	background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background-color: #C4C4C4;
	border-radius: 50%;
}

.react-calendar__tile--now:enabled:hover .react-calendar__tile--hasActive {
	background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
	background: #a9d4ff;
}

.react-calendar__tile--active {
	background: #FFC38B;
	color: white;
	content: ' \25CF';
	border-radius: 50%;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background: #FFC38B;
}

.react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #e6e6e6;
}