.SummaryTitle {

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.SummaryContent {
	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.section1 {
	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 32px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.section2 {
	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 32px;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.section3 {
	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 32px;

	/* Inside auto layout */

	flex: none;
	order: 2;
	flex-grow: 0;
}

.heading {
	color: #AAAAAA;
	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.section-content {
	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}