.login_title{
  margin-left: 87px;
  font-family: 'Open Sans';
}

.login_title1{
  line-height: 25px 57%;
}

.login_title2{
  line-height: 67px 82%;
  color: #65C6AF
}

.login_text{
  margin-left: 93px;
  font-family: 'Open Sans';
  line-height: 33px 100%;
}

.login_button {
  margin-left: 93px;
  width: 364px;
  height: 72px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
}

.google_logo{
  width: 35px;
  height: 35px;
}

.login_logo{
  width: 900px;
  height: 909px;
  margin-top: 30px;
  margin-right: 35px;
  margin-bottom: 30px;
  float: right;
}