.web_logo{
  margin-top: 70px;
  margin-left: 70px;
}

.login_title{
  margin-top: 125px;
  margin-left: 87px;
}

.login_title2{
  margin-top: -40px;
  color: #65C6AF
}

.login_text{
  margin-top: 80px;
  margin-left: 93px;
}

.login_button {
  margin-left: 93px;
  width: 356px;
  height: 71px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
}

.google_logo{
  float: left;
  margin-top: 10px;
  margin-left: 61px;
  width: 35px;
  height: 35px;
}

.login_button_text{
  margin-right: 61px;
  float: right;
}

.login_logo{
  float: right;
  width: 60vw;
  height: auto;
  margin-top: 30px;
  margin-right: 35px;
  margin-bottom: 30px;
}