.RoomCard {
    text-align: left;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 27px;
    border: 1px solid #C4C4C4;
    background-color: white;
    box-sizing: border-box;
}