.RoomCard {
    /* room card */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 16px;
    gap: 16px;

    width: 331px;
    height: 331px;

    background: #FFFFFF;
    /* Morrison Gray */

    border: 1px solid #C4C4C4;
    border-radius: 27px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    cursor: pointer;
}


.roomImage {
    /* Rectangle 5 */


    width: 332px;
    height: 215px;

    border-radius: 27px 27px 0px 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.room-card-content {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 8px;
    gap: 16px;

    width: 293px;
    height: 84px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.room-card-content-left {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 223px;
    height: 84px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.room-card-content-right {
    width: 38px;
    height: 38px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.room-card-content-left-1 {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 178px;
    height: 54px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.room-card-content-left-2 {
    width: 89px;
    height: 22px;

    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Morrison Gray */

    color: #C4C4C4;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.room-card-info {
    width: 175px;
    height: 27px;

    line-height: 27px;
    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.room-card-time {
    width: 178px;
    height: 27px;

    line-height: 27px;
    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}